@use '../../styles.scss';
.side-bar {
  background-color: styles.$black-color;
  padding-top: 24px;

  .logo {
    margin: auto 0;
    padding: 15px 0;
    padding-top: 0;
    height: 70px;
    width: 100%;
    object-fit: contain;
  }

  .menu {
    color: styles.$light-color;
    list-style-type: none;
    margin-bottom: 15px;

    .nav-link {
      font-size: 14px;
      margin: 1px 10px;
      border-radius: 5px;
      padding: 6px 6px;
      font-weight: 700;

      &:hover {
        color: styles.$white-color;
      }
    }

    .nav-link-active {
      @extend .nav-link;
      background-color: styles.$dark-color;
    }

    fa-icon {
      margin-right: 20px;
      font-size: 1.4rem;
    }
  }

  .playlist-menu {
    color: styles.$light-color;
    list-style-type: none;
    margin-bottom: 10px;

    .options {
      fa-icon {
        margin-right: 20px;
        font-size: 1.5rem;
      }

      font-size: 14px;
      margin: 1px 16px;
      font-weight: 600;
      border-radius: 5px;
      padding: 6px 6px;
      display: flex;
      align-items: center;

      &:hover {
        color: styles.$white-color;
      }
    }
  }

  hr {
    width: 80%;
    background-color: styles.$dark-color;
    margin: 0 auto;
    height: 1px;
    border: none;
  }

  .playlist-section {
    height: 50vh;
    overflow-y: scroll;
    .playlist {
      margin-top: 10px;
      color: styles.$light-color;
      list-style-type: none;

      position: relative;
      .playlist-title {
        font-size: 14px;
        margin: 1px 16px;
        padding: 6px 6px;

        &:hover {
          color: styles.$white-color;
        }
      }
    }
  }
}

.wrapper {
  display: grid;

  width: 100%;

  overflow: hidden;
  grid-template-areas:
    "sidebar main"
    "player player";
  grid-template-columns: minmax(230px, 230px) auto;
  grid-template-rows: 90vh 10vh;
}

.sidebar {
  grid-area: sidebar;
}
.main {
  grid-area: main;
  overflow-y: scroll;
  background-color: rgb(11, 11, 11);
}
.footer {
  grid-area: player;
  z-index: 2;
  height: 100px;
  background-color: green;
}
