@use '../../styles.scss';
.side-bar {
  background-color: styles.$black-color;
  height: 100vh;
  min-width: 230px;
  max-width: 208px;
  padding-top: 24px;
  overflow: hidden;

  .logo {
    margin: auto 0;
    padding: 15px 0;
    padding-top: 0;
    height: 70px;
    width: 100%;
    object-fit: contain;
  }

  .menu {
    color: styles.$light-color;
    list-style-type: none;
    margin-bottom: 15px;

    .nav-link {
      font-size: 14px;
      margin: 1px 16px;
      border-radius: 5px;
      padding: 12px 6px;

      &:hover {
        color: styles.$white-color;
      }
    }

    .nav-link-active {
      @extend .nav-link;
      background-color: styles.$dark-color;
    }

    fa-icon {
      margin-right: 20px;
      font-size: 1.4rem;
    }
  }

  .playlist-menu {
    color: styles.$light-color;
    list-style-type: none;
    margin-bottom: 10px;

    .options {
      fa-icon {
        margin-right: 20px;
        font-size: 1.5rem;
      }

      font-size: 14px;
      margin: 1px 16px;
      font-weight: 600;
      border-radius: 5px;
      padding: 6px 6px;
      display: flex;
      align-items: center;

      &:hover {
        color: styles.$white-color;
      }
    }
  }

  hr {
    width: 80%;
    background-color: styles.$dark-color;
    margin: 0 auto;
    height: 1px;
    border: none;
  }

  .playlist {
    margin-top: 20px;
    color: styles.$light-color;
    list-style-type: none;

    .playlist-title {
      font-size: 14px;
      margin: 1px 16px;
      padding: 6px 6px;

      &:hover {
        color: styles.$white-color;
      }
    }
  }
}

.wrapper {
  display: flex;
  height: 100%;
  flex-direction: row;
  overflow: hidden;
}
