@use '../../../styles.scss';

.now-playing {
  display: flex;
  .track-details {
    display: flex;
    color: styles.$white-color;
    align-items: center;
    .image {
      height: 50px;
      width: 50px;
      margin: 10px;
      img {
        height: 100%;
        width: 100%;
        object-fit: cover;
      }
    }
    .name{
      
      h5{
        color: styles.$light-color;
      }
    }
    fa-icon {
      margin-left: 20px;
    }
  }

  .play-controls {
    width: 900px;
    .controllers {
      display: flex;
      // justify-content: center;
      color: white;
      align-items: center;
      .player {
        font-size: 2rem;
      }
      fa-icon {
        font-size: 1.3rem;
        margin: 15px;
        width: 100%;
        &:hover {
          cursor: pointer;
        }
      }
    }

    .player {
      width: 100%;

      .slider {
        -webkit-appearance: none; /* Override default CSS styles */
        appearance: none;
        width: 100%; /* Full-width */
        height: 5px; /* Specified height */
        background: rgb(90, 90, 90); /* Grey background */
        outline: none; /* Remove outline */
        opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
        border-radius: 5px;
        -webkit-transition: 0.2s; /* 0.2 seconds transition on hover */
        transition: opacity 0.2s;
        &:hover {
          opacity: 1;
        }

        .slider::-webkit-slider-thumb {
          -webkit-appearance: none; /* Override default look */
          appearance: none;
          width: 5px; /* Set a specific slider handle width */
          height: 5px; /* Slider handle height */
          cursor: pointer; /* Cursor on hover */
        }
        .slider::-moz-range-thumb {
          width: 15px; /* Set a specific slider handle width */
          height: 15px; /* Slider handle height */
          cursor: pointer; /* Cursor on hover */
        }
      }
    }
  }
}
