@use '../../styles.scss';

.main {
  background-color: black;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;

  .logo {
    display: flex;
    justify-content: center;

    p {
      color: styles.$light-color;
    }
  }

  img {
    width: 70%;
  }

  a {
    font-size: 1.3rem;
    text-decoration: none;
    color: styles.$light-color;
    background-color: styles.$green-color;
    padding: 20px;
    border-radius: 50px;
  }
}
