<div class="categories">
  <h3>Browse Categories</h3>
  <div class="row">
    <div class="card" *ngFor="let data of categoriesData">
      <img [src]="data.icons[0].url" alt="genre-image" loading="lazy"/>

      <a [href]="data.href"
        ><p>{{ data.name }}</p></a
      >
      <p>{{ data.id }}</p>
    </div>
  </div>  
</div>

<div class="artists">
  <h3>Top Artists</h3>
  <div class="row">
    <div class="artist-card" *ngFor="let artist of topArtistData">
      <img [src]="artist.images[0].url" alt="genre-image" loading="lazy"/>

      <a [href]="artist.href">
        <p>{{ artist.name }}</p>
      </a>
      <p>{{ artist.type | titlecase }}</p>
    </div>
  </div>
</div>
