@use '../styles.scss';

.main {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;

  .logo {
    h1 {
      color: styles.$light-color;
    }
  }
  img {
    width: 90%;
  }
}
