/* You can add global styles to this file, and also import other style files */
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

// variables
$font-family: "Roboto", sans-serif;
$light-color: rgb(201, 201, 201);
$white-color: white;
$black-color: black;
$dark-color: #282828;
$green-color: #000000;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}
