/* You can add global styles to this file, and also import other style files */
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

// variables
$font-family: "Roboto", sans-serif;
$light-color: white;
$black-color: black;
$dark-color: #181818;
$green-color: #1db954;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: black;
  font-family: "Roboto", sans-serif;
}
