h3{
  color: white;
  margin-left: 30px;
  font-size: 2rem;
  margin-bottom: 10px;
  margin-top: 70px;
}

.row {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(180px, 180px));
  grid-auto-flow: row;
  grid-column-gap: 30px;
  grid-row-gap: 30px;
  place-items: center;
  align-content: center;
  justify-content: center;

    a {
      font-weight: bold;
      font-size: 1.2rem;
      text-decoration: none;
      color: white;
    }

    p {
      font-size: 1rem;
      color: white;
      margin-top: 5px;
    }
  
}

 .card {
    background-color: #181818;
    height: auto;
    width: 180px;
    padding: 15px;
    padding-bottom: 40px;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
}
   img {
      height: 153px;
      width: 153px;
      filter: drop-shadow(0px 4px 5px rgba(0, 0, 0, 0.25));
      object-fit: cover;
      border-radius: 5px;
    }
.artist-card{
@extend  .card;

img{
  @extend img;
  border-radius: 50%;
}
}