@use '../../styles.scss';
.card {
  height: auto;
  background-color: styles.$dark-color;
  box-shadow: 0 8px 24px rgb(0 0 0 / 50%);
  padding: 10px;
  img {
    height: auto;
    width: 100%;
    object-fit: contain;
  }
  a {
    text-decoration: none;
    color: styles.$light-color;
    font-weight: 600;
    &:hover {
      color: styles.$white-color;
    }
  }
  p {
    color: styles.$light-color;
    margin-top: 10px;
  }
}

.categories {
  overflow: hidden;
  background-color: black;
  h3 {
    background-color: rgb(21, 19, 19);
    color: white;
    padding-bottom: 20px;
    padding-left: 10px;
    padding-top: 50px;
    font-size: 2rem;
  }
  .row {
    background-color: rgb(21, 19, 19);
    padding-top: 10px;
    padding-right: 10px;
    padding-left: 10px;
    width: 100vw;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    grid-template-rows: 1fr;
    grid-auto-rows: auto;
    overflow: auto;

    .card {
      height: auto;
      background-color: styles.$dark-color;
      box-shadow: 0 8px 24px rgb(0 0 0 / 50%);
      padding: 10px;
      img {
        height: auto;
        width: 100%;
        object-fit: contain;
      }
      a {
        text-decoration: none;
        color: styles.$light-color;
        font-weight: 600;
        &:hover {
          color: styles.$white-color;
        }
      }
      p {
        color: styles.$light-color;
        margin-top: 10px;
      }
    }
  }
}

.top-artist {
  h3 {
    background-color: rgb(21, 19, 19);
    color: white;
    padding-bottom: 20px;
    padding-left: 10px;
    padding-top: 50px;
    font-size: 2rem;
  }

  .artist-row {
    background-color: rgb(21, 19, 19);
    padding-top: 10px;
    padding-right: 10px;
    padding-left: 10px;
    overflow-y: hidden;
    width: 100vw;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
    grid-column-gap: 24px;
    grid-row-gap: 24px;
    grid-template-rows: 1fr;
    // grid-auto-rows: 0;
    overflow: auto;

    .artist-card {
      height: auto;
      background-color: styles.$dark-color;
      box-shadow: 0 8px 24px rgb(0 0 0 / 50%);
      padding: 10px;
      img {
        height: auto;
        width: 100%;
        object-fit: contain;
      }
      a {
        text-decoration: none;
        color: styles.$light-color;
        font-weight: 600;
        &:hover {
          color: styles.$white-color;
        }
      }
      p {
        color: styles.$light-color;
        margin-top: 10px;
      }
    }
  }
}
