<div class="container">
  <section class="header">
    <div class="playlist-image">
      <img [src]="image[0].url" />
    </div>
    <div class="about">
      <p class="type">{{ type | uppercase }}</p>
      <h1 class="title">{{ name }}</h1>
      <p class="description">{{ description }}</p>
      <p class="stats">
        &#10045; <b> {{ owner.display_name }}</b> &#10045;
        {{ followers.total }} followers
      </p>
    </div>
  </section>
  <div class="like-play">
    <fa-icon class="play" [icon]="faPlayCircle"></fa-icon>
    <fa-icon class="like" [icon]="faHeart"></fa-icon>
    <fa-icon class="dot" [icon]="faEllipsisH"></fa-icon>
  </div>
  <div class="tracks-header">
    <p class="number"><b>#</b></p>
    <p class="title"><b>TITLE</b></p>
    <p class="album"><b>ALBUM</b></p>
    <p class="added"><b>DATE ADDED</b></p>
    <fa-icon class="clock" [icon]="faClock"></fa-icon>
  </div>

  <div class="tracks" *ngFor="let track of tracks; let i = index">
    <p class="number">{{ i }}</p>
    <div class="title">
      <img [src]="track.track.album.images[0].url" />
      <div class="title-detail">
        <p class="song-name">{{ track.track.name }}</p>
        <!-- <p class="artists">{{ track.track.artists[i] }}</p> -->
      </div>
    </div>
    <p class="album">{{ track.track.album.name }}</p>
    <p class="time">{{ track.added_at | date }}</p>
    <p class="duration">{{ track.track.duration_ms | percent }}</p>
  </div>
</div>
