<section class="header">
  <div class="playlist-image">
    <img
      src="https://images.pexels.com/photos/1809547/pexels-photo-1809547.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500"
      alt="playlist-image"
    />
  </div>
  <div class="about">
    <p class="type">PLAYLIST</p>
    <h1 class="title">the bootleg goat</h1>
    <p class="description">
      Sad lofi hip hop& slow beats with emotional vocals(updated weekly)
    </p>
    <p class="stats">
      <b>thebootlegboy</b> &#10045; 133,224 likes &#10045; 150songs, about 6hr
    </p>
  </div>
</section>
<div class="like-play">
       <fa-icon class="play" [icon]="faPlayCircle"></fa-icon>
       <fa-icon class="like" [icon]="faHeart"></fa-icon>
       <fa-icon class="dot" [icon]="faEllipsisH"></fa-icon>
</div>