@use '../../../styles.scss';

.header {
  padding: 30px 30px 70px 30px;
  display: flex;
  background-color: green;
  align-items: flex-end;
  .playlist-image {
    height: 250px;
    width: 250px;
    margin-right: 24px;
    img {
      height: 100%;
      width: 100%;
      object-fit: cover;
    }
  }

  .about {
    .type {
      font-size: 0.8rem;
      color: styles.$white-color;
    }
    .title {
      font-size: 6rem;
      line-height: 7rem;
      color: styles.$white-color;
    }
    .description {
      color: styles.$light-color;
      line-height: 2rem;
    }
    .stats {
      color: styles.$light-color;
      b {
        color: styles.$white-color;
      }
    }
  }
}

.like-play {
  display: flex;
  margin-left: 30px;
  margin-top: 25px;
  align-items: center;
  .play {
    font-size: 4rem;
    color: styles.$green-color;
    margin-right: 25px;
  }
  .like {
    font-size: 2rem;
    margin-right: 25px;
    color: styles.$white-color;
  }
  .dot {
    font-size: 1.3rem;
    color: styles.$white-color;
  }
}

.tracks-header {
  color: styles.$light-color;
  display: flex;
  align-items: center;
  padding: 0 20px 0 30px;
  justify-content: space-between;
  .number {
    flex-basis: 5%;
  }
  .title {
    flex-basis: 60%;
  }
  .album {
    flex-basis: 15%;
  }
  .added {
    flex-basis: 13%;
  }
  .clock {
    flex-basis: 7%;
  }
}

.tracks{
  margin-top: 10px;
  color: white;
  padding: 0 20px 0 30px;
  justify-content: space-between;
display: flex;
align-items: center;
.number{
     flex-basis: 5%;
}
  .title{
       flex-basis: 60%;
    display: flex;
    img{
      height: 40px;
      width: 40px;
      margin-right: 20px;
    }
    .title-detail{
      display: flex;
      flex-direction: column;
      .artists{
        margin-top: 3px;
        color: styles.$light-color;
        font-size: 14px;
      }
      .song-name{
        color: styles.$white-color;
      }
    }
}
  .album {
    flex-basis: 15%;
    color: styles.$light-color;
  }
  .time {
    flex-basis: 13%;
     color: styles.$light-color;
  }
  .duration {
    flex-basis: 7%;
     color: styles.$light-color;
  }
}
